Package: concerto-full
Version: 2.3.6
Section: devel
Priority: optional
Architecture: all
Depends: build-essential, debconf, apt-transport-https, libapache2-mod-passenger, ruby (>= 2.3), ruby-dev, libruby, imagemagick, ruby-rmagick, libmagickwand-dev, libssl-dev, zlib1g-dev, libsqlite3-dev, default-mysql-server, default-mysql-client, ruby-mysql | ruby-mysql2, default-libmysqlclient-dev, dbconfig-common, apache2, libxslt-dev |  libxslt1-dev
Suggests: libreoffice, poppler-utils, poppler-data, tesseract-ocr, pdftk
Maintainer: Concerto Team <team@concerto-signage.org>
Description: Digital Signage Web Application using Ruby on Rails
 Web application for displaying graphical, textual, video, and 
 other content submitted by users on computer-driven screens
 over a network.

