Package: concerto-lite
Version: 0.0.2.alphamoose
Section: devel
Priority: optional
Architecture: all
Depends: debconf, imagemagick, libmysqlclient-dev, libmysqlclient18, libmysql-ruby1.9.1, ruby-1.9.1, libruby1.9.1
Maintainer: Concerto Team <team@concerto-signage.org>
Description: Digital Signage Web Application using Ruby on Rails
 Web application for displaying graphical, textual, video, and 
 other content submitted by users on computer-driven screens
 over a network.

